<form autocomplete="off" class="{{cssClasses}} flexcol">
  <header class="sheet-header">
    <div class="character-image">
      <img src="{{actor.img}}" data-edit="img" />
      <span class="adventurer-level">
        {{actor.system.adventurerLevel}}
      </span>
    </div>
    <section class="header-fields">
      <div class="header-field-group">
        <input type="text" value="{{actor.name}}" />
      </div>

      <div class="header-field-block">
        <div class="sw-meter">

          {{#with actor.system.hp}}
          <label for="system.hp.value">{{localize "SWSheets.character.HP"}}</label>
          <input data-dtype="Number" name="system.hp.value" value="{{value}}" />
          <span class="sw-meter__max">{{max}}</span>
          <progress class="sw-meter__bar" value="{{value}}" max="{{max}}" />
          {{/with}}
        </div>

        <div class="sw-meter">
          {{#with actor.system.mp}}
          <label for="system.mp.value">{{localize "SWSheets.character.MP"}}</label>
          <input data-dtype="Number" name="system.mp.value" value="{{value}}" />
          <span class="sw-meter__max">{{max}}</span>
          <progress class="sw-meter__bar" value="{{value}}" max="{{max}}" />
          {{/with}}
        </div>
      </div>

      <div class="header-field-block">
        <h3 class="label">{{localize "SWSheets.character.defenses.label"}}</h3>
        <div class="sw-input">
          <label>{{localize "SWSheets.character.defenses.evasion"}}</label>
          <input readonly data-dtype="Number" value="{{actor.system.evasion}}" />
        </div>
        <div class="sw-input">
          <label>{{localize "SWSheets.character.defenses.defense"}}</label>
          <input readonly data-dtype="Number" value="{{actor.system.defense}}" />
        </div>
        <div class="sw-input">
          <label>{{localize "SWSheets.character.defenses.fortitude"}}</label>
          <input readonly data-dtype="Number" value="{{actor.system.fortitude}}" />
        </div>
        <div class="sw-input">
          <label>{{localize "SWSheets.character.defenses.willpower"}}</label>
          <input readonly data-dtype="Number" value="{{actor.system.willpower}}" />
        </div>
      </div>

      <div class="header-field-block">
        <h3 class="label">{{localize "SWSheets.character.movement.label"}}</h3>
        <div class="sw-input">
          <label>{{localize "SWSheets.character.movement.limited"}}</label>
          <input readonly data-dtype="Number" value="{{actor.system.movement.limited}}" />
        </div>
        <div class="sw-input">
          <label>{{localize "SWSheets.character.movement.normal"}}</label>
          <input readonly data-dtype="Number" value="{{actor.system.movement.normal}}" />
        </div>
        <div class="sw-input">
          <label>{{localize "SWSheets.character.movement.full"}}</label>
          <input readonly data-dtype="Number" value="{{actor.system.movement.full}}" />
        </div>
      </div>
    </section>
  </header>

  <nav class="">
  </nav>

  <main class="sheet-body">
    <h2>Classes</h2>
    <ul>
      {{#each actor.system.classes}}
      <li onclick="fromUuidSync('{{uuid}}').sheet.render(true)">{{name}}</li>
      {{/each}}
    </ul>

    <div class="inventory">
      <h2>Weapons</h2>
      {{#each actor.system.weapons}}
      <sw-weapon-card uuid="{{uuid}}"></sw-weapon-card>
      {{/each}}

      <h2>Armor</h2>
      {{#each actor.system.armor}}
      <sw-armor-card></sw-armor-card>
      {{/each}}
    </div>

  </main>
</form>