<form autocomplete="off" class="{{cssClass}} flexcol">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" />

    <div class="header-fields">

      <div class="header-field-group">
        <div class="sw-input flourished {{styles.field_name}}">
          <label for="name">{{localize "SW.equipment.general.name"}}</label>
          <div class="flourished-input">
            <input type="text" value="{{item.name}}" name="name" />
          </div>
        </div>
        <div class="sw-input flourished {{styles.field_quantity}}">
          <label for="system.quantity">{{localize "SW.equipment.general.quantity.short"}}</label>
          <div class="flourished-input">
            <input type="text" data-dtype="Number" value="{{item.system.quantity}}" name="system.quantity">
          </div>
        </div>
        <div class="sw-input flourished {{styles.field_price}}">
          <label for="system.price">{{localize "SW.equipment.general.price"}}</label>
          <div class="flourished-input">
            <input type="text" data-dtype="Number" value="{{item.system.price}}" name="system.price" />
          </div>
        </div>


        <div class="sw-input flourished {{styles.field_popularity}}">
          <label for=" system.popularity" data-tooltip="{{localize 'SW.equipment.general.popularity.long'}}">{{localize
            "SW.equipment.general.popularity.short"}}</label>
          <div class="flourished-input">
            <input type="text" data-dtype="Number" value="{{item.system.popularity}}" name="system.popularity" />
          </div>
        </div>
        <div class="sw-select flourished {{styles.field_era}}">
          <label for="system.era">{{localize "SW.equipment.general.era.label"}}</label>
          <div class="flourished-input">
            <select name="system.era" value="{{item.system.era}}">
              {{selectOptions selectOptions.era
              selected=item.system.era
              localize=true
              }}
            </select>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="sheet-body {{styles.sheet_body}}">
    {{!-- Description tab --}}
    <div class="tab active tab--description {{styles.tab_description}}" data-group="primary" data-tab="description">
      <main>
        {{editor item.system.description
        target="system.description"
        engine="prosemirror"}}
      </main>
    </div>
  </section>
</form>
