<form autocomplete="off" class="{{cssClass}} flexcol">
  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" />
    <div class="header-fields">
      <div class="header-field-group">
        <input type="text" value="{{item.name}}" name="name">
        <sw-input class="{{styles.field_quantity}}" type="text" data-dtype="Number" value="{{item.system.quantity}}" name="system.quantity">Qty</sw-input>
        <sw-input type="text" data-dtype="Number" value="{{item.system.price}}" name="system.price">
          {{localize "SW.equipment.general.price"}}
        </sw-input>
        
      </div>
      <div class="header-field-group">
        <sw-select name="system.rank" value="{{item.system.rank}}">
          <span slot="label">{{localize "SW.equipment.general.gearRank.label"}}</span>
          {{selectOptions selectOptions.rank
            selected=item.system.rank
            localize=true
          }}
        </sw-select>

        <div class="sw-checkbox">
          <input type="checkbox" name="system.isMagical" {{checked item.system.isMagical}} />
          <label for="system.isSilvered">{{localize "SW.equipment.weapon.isMagical"}}</label>
        </div>

        <div class="sw-checkbox">
          <input type="checkbox" name="system.isSilvered" {{checked item.system.isSilvered}} />
          <label for="system.isSilvered">{{localize "SW.equipment.weapon.isSilvered"}}</label>
        </div>

        <sw-select class="{{styles.field_era}}" name="system.era" value="{{item.system.era}}">
          <span slot="label">{{localize "SW.equipment.general.era.label"}}</span>
          {{selectOptions selectOptions.era
            selected=item.system.era
            localize=true
          }}
        </sw-select>

        <sw-input class="{{styles.field_popularity}}" type="text" data-dtype="Number" value="{{item.system.popularity}}" name="system.popularity">
          {{localize "SW.equipment.general.popularity"}}
        </sw-input>
      </div>
    </div>
  </header>
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">
      {{localize "SW.equipment.general.navigation.description"}}
    </a>
    <a class="item" data-tab="stances">
      {{localize "SW.equipment.weapon.navigation.stances"}}
    </a>
    <a class="item" data-tab="effects">
      {{localize "SW.equipment.general.navigation.effects"}}
    </a>
  </nav>
  <section class="sheet-body {{styles.sheet_body}}">
    {{!-- Description tab --}}
    <div class="tab tab--description {{styles.tab_description}}" data-group="primary" data-tab="description">
      <main>
      {{editor item.system.description
        target="system.description"
        engine="prosemirror"}}
      </main>
    </div>

    {{!-- Edit Stances tab --}}

    <div class="tab {{styles.tab_stances}}" data-group="primary" data-tab="stances">
      <div class="{{styles.stances}}">
        <button type="button" class="add" data-index="{{@index}}" aria-label="{{localize "SW.equipment.weapons.stances.add"}}">
          <i class="fa-solid fa-plus"></i>
        </button>
        {{!-- Labels --}}
        <span data-tooltip="SW.equipment.weapon.stanceType.label">
          {{localize "SW.equipment.weapon.stanceType.label"}}
        </span>
        <span data-tooltip="SW.equipment.weapon.damageType.label">
          {{localize "SW.equipment.weapon.damageType.label"}}
        </span>
        <span data-tooltip="SW.equipment.weapon.weaponCategory.label">
          {{localize "SW.equipment.weapon.weaponCategory.label"}}
        </span>
        <span data-tooltip="SW.equipment.general.minimumStrength" class="{{styles.stance_icon_field}}">
          <span class="sr-only">{{localize "SW.equipment.general.minimumStrength"}}</span>
          <i class="fa-solid fa-dumbbell"></i>
        </span>
        <span data-tooltip="SW.equipment.weapon.accuracyBonus" class="{{styles.stance_icon_field}}">
          <span class="sr-only">{{localize "SW.equipment.weapon.accuracyBonus"}}</span>
          <i class="fa-solid fa-bullseye"></i>
        </span>
        <span data-tooltip="SW.equipment.weapon.damageBonus" class="{{styles.stance_icon_field}}">
          <span class="sr-only">{{localize "SW.equipment.weapon.damageBonus"}}</span>
          <i class="fa-solid fa-sword"></i>
        </span>
        <span data-tooltip="SW.equipment.weapon.criticalValue" class="{{styles.stance_icon_field}}">
          <span class="sr-only">{{localize "SW.equipment.weapon.criticalValue"}}</span>
          <i class="fa-solid fa-swords"></i>
        </span>
        <span data-tooltip="SW.equipment.general.power" class="{{styles.stance_icon_field}}">
          <span class="sr-only">{{localize "SW.equipment.general.power"}}</span>
          <i class="fa-solid fa-hand-fist"></i>
        </span>
        <span data-tooltip="SW.equipment.weapon.isGrapplerGear" class="{{styles.stance_icon_field}}">
          <span class="sr-only">{{localize "SW.equipment.weapon.isGrapplerGear"}}</span>
          <i class="fa-solid fa-boxing-glove"></i>
        </span>
        <span data-tooltip="SW.equipment.weapon.usesAmmunition" class="{{styles.stance_icon_field}}">
          <span class="sr-only">{{localize "SW.equipment.weapon.usesAmmunition"}}</span>
          <i class="fa-solid fa-bow-arrow"></i>
        </span>

        {{!-- Rows --}}
        {{#each item.system.stances}}
          <button type="button" class="remove" data-index="{{@index}}" aria-label="{{localize "SW.equipment.weapons.stances.remove"}}">
            <i class="fa-solid fa-xmark"></i>
          </button>
          <select name="{{concat "system.stances." @index ".stanceType"}}">
            {{selectOptions @root.selectOptions.stanceType selected=this.stanceType localize=true}}
          </select>
          <select name="{{concat "system.stances." @index ".damageType"}}">
            {{selectOptions @root.selectOptions.damageType selected=this.damageType localize=true}}
          </select>
          <select name="{{concat "system.stances." @index ".weaponCategory"}}">
            {{selectOptions @root.selectOptions.weaponCategory selected=this.weaponCategory localize=true}}
          </select>

          <input
            type="text"
            value="{{this.minimumStrength}}"
            name="{{concat "system.stances." @index ".minimumStrength"}}"
            class="{{@root.styles.stance_field}} {{@root.styles.stance_icon_field}}"
            data-dtype="Number" />
          <input
            type="text"
            value="{{this.accuracy}}"
            name="{{concat "system.stances." @index ".accuracy"}}"
            class="{{@root.styles.stance_field}} {{@root.styles.stance_icon_field}}"
            data-dtype="Number" />
          <input
            type="text"
            value="{{this.extraDamage}}"
            name="{{concat "system.stances." @index ".extraDamage"}}"
            class="{{@root.styles.stance_field}} {{@root.styles.stance_icon_field}}"
            data-dtype="Number" />
          <input
            type="text"
            value="{{this.criticalValue}}"
            name="{{concat "system.stances." @index ".criticalValue"}}"
            class="{{@root.styles.stance_field}} {{@root.styles.stance_icon_field}}"
            data-dtype="Number" />
          <input
            type="text"
            value="{{this.power}}"
            name="{{concat "system.stances." @index ".power"}}"
            class="{{@root.styles.stance_field}} {{@root.styles.stance_icon_field}}"
            data-dtype="Number" />
          <input
            type="checkbox"
            name="{{concat "system.stances." @index ".isGrapplerGear"}}"
            class="{{@root.styles.stance_field}} {{@root.styles.stance_icon_field}}"
            {{checked this.isGrapplerGear}} />
          <input
            type="checkbox"
            name="{{concat "system.stances." @index ".usesAmmunition"}}"
            class="{{@root.styles.stance_field}} {{@root.styles.stance_icon_field}}"
            {{checked this.usesAmmunition}} />

          <sw-power-grid class="{{@root.styles.power_grid}}" value="{{this.power}}" critical="{{this.criticalValue}}"></sw-power-grid>
        {{/each}}
      </div>
    </div>
    
    <div class="tab {{styles.tab_effects}}" data-group="primary" data-tab="effects">
      Active Effects
    </div>
  </main>
</form>